section {
    display: flex;
    padding: 1%;
    justify-content: center;
    align-items: center;
}

.padding {
    padding: 10px;
}

.page-header {
    margin: 0px;
}

.well {
    padding: 2%;
    margin: 2%;
}
